height: 514px;
  }

 #wheelbarrow {
 #wheelbarrow {
    position: relative;
    background: url(../images/wheelbarrow.png) no-repeat;
    z-index: 0;
 @@ -37,4 +37,4 @@ img {

  #basket, #ball {
    display: inline;
 }
 }
